* {
    box-sizing: border-box;
    font-family: 'Droid Sans', arial, serif;
    font-size: 30px;
}

body {
    padding: 15px;
    line-height: 1.5;
    color: #2F1728;
    background-color: #fff5d7;

}

.nav-block {
    list-style-type: "🥴";
    color: #2F1728;

    padding-bottom: 10px;
    margin: 0;
}

.nav-block__item {
    padding-left: 8px;
    line-height: 1.8;
}

.nav__link {
    /* color: #FF603A; */
    text-decoration: none;
    border-radius: 15px;
    padding: 1px;
    background-color: #ff5e6c;
    font-family: 'Droid Sans', arial, serif;
}

.restaurant-title {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    font-style: oblique;
    font-size: 40px;
    text-align: justify;
    vertical-align: middle;
}

.feats-block {
    list-style-type: "🤡";
    color: #2F1728;

    padding-bottom: 10px;
    margin: 0;
}

.feats-block__item {
    padding-left: 15px;
    line-height: 1.8;
    /* font-size: 16px; */
    color: #ff5e6c;
    text-decoration: underline;
    font-style: oblique;
}

.showoff {
    color: black;
    font-size: 18px;
    text-align: center;
    font-style: oblique;
}

.pre {
    white-space: pre-wrap;
}

.phrases {
    list-style-type: upper-roman;
    color: darkred;
    font-style: italic;
}

.image-container {
    margin: 30px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.image-container__item {
    margin-right: 30px;
    scroll-snap-align: center;
    border-radius: 15px;
}

.quote__footer {
    display: block;
    text-align: center;
    margin-top: 60px;
    font-style: italic;
    background: moccasin;
    text-align: center;
    color: darkred;
}

.logo__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    filter: drop-shadow(0 0 0.75rem #39F990);
}